<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CentralServiceCore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings configSource="connections.config"/>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><userSettings>
    <CentralServiceCore.Properties.Settings>
      <setting name="WebTrackerClientId" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="WebTrackerClientPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="LastClientRecordNumber" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastUpdateFromWebTracker" serializeAs="String">
        <value>1980-01-01</value>
      </setting>
    </CentralServiceCore.Properties.Settings>
  </userSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IClientsService" />
        <binding name="BasicHttpBinding_ITrackingService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://yatta.fiit.stuba.sk/WebTracker/ClientsService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClientsService"
        contract="WebTrackerClientsService.IClientsService" name="BasicHttpBinding_IClientsService" />
      <endpoint address="http://yatta.fiit.stuba.sk/WebTracker/TrackingService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITrackingService"
        contract="WebTrackerTrackingService.ITrackingService" name="BasicHttpBinding_ITrackingService" />
    </client>
  </system.serviceModel>
</configuration>
