<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="WPFServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
  </configSections>
  
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  
  <connectionStrings>
    <add name="MyDBContext" providerName="System.Data.SqlClient" connectionString="Server=.\SQLEXPRESS;Database=MyDBContext;Integrated Security=True;MultipleActiveResultSets=True"  />
    <add name="ProxyDataContextEntities" connectionString="metadata=res://*/Database.ProxyData.csdl|res://*/Database.ProxyData.ssdl|res://*/Database.ProxyData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=ProxyData;integrated security=True;pooling=False;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="ProxyDataContextEntities" connectionString="metadata=res://*/ProxyData.csdl|res://*/ProxyData.ssdl|res://*/ProxyData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=ProxyData;integrated security=True;pooling=False;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="CardSpace">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.IO.Log">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.Runtime.Serialization">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.IdentityModel">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml"
           type="System.Diagnostics.XmlWriterTraceListener"
           initializeData="c:\log\Traces.svclog" />
    </sharedListeners>
  </system.diagnostics>

  <userSettings>
    <WPFServer.Properties.Settings>
      <setting name="MaximumCacheSize" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="CentralServerPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="CentralServerUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="AppDataFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="SearchDatabaseVersion" serializeAs="String">
        <value />
      </setting>
      <setting name="AppVersion" serializeAs="String">
        <value />
      </setting>
      <setting name="MyDBContextVersion" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyDataVersion" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerName" serializeAs="String">
        <value />
      </setting>
      <setting name="LastCentralServiceReport" serializeAs="String">
        <value>1980-01-01</value>
      </setting>
      <setting name="DownloadEverything" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastSyncedWithServerCache" serializeAs="String">
        <value>1970-01-01</value>
      </setting>
      <setting name="LastUpdateFromCentralService" serializeAs="String">
        <value>1970-01-01</value>
      </setting>
      <setting name="CollaborativeFiltering" serializeAs="String">
        <value>False</value>
      </setting>
    </WPFServer.Properties.Settings>
  </userSettings>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ILocalServerService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8451/v3/LocalServerService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILocalServerService"
        contract="LocalServerCentralService.ILocalServerService" name="BasicHttpBinding_ILocalServerService" />
    </client>
  </system.serviceModel>

  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
</configuration>