<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings configSource="connections.config"/>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IClientsService" />
        <binding name="BasicHttpBinding_ITrackingService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://yatta.fiit.stuba.sk/WebTracker/ClientsService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClientsService"
        contract="WebTrackerClientsService.IClientsService" name="BasicHttpBinding_IClientsService" />
      <endpoint address="http://yatta.fiit.stuba.sk/WebTracker/TrackingService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITrackingService"
        contract="WebTrackerTrackingService.ITrackingService" name="BasicHttpBinding_ITrackingService" />
    </client>
  </system.serviceModel>
</configuration>