<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WPFProxy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <appSettings>
    <add key="ListeningIPInterface" value="127.0.0.1" />
    <add key="ListeningPort" value="8081" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  
  <connectionStrings>
    <add name="SearchDatabaseEntities" connectionString="metadata=res://*/SearchModel.csdl|res://*/SearchModel.ssdl|res://*/SearchModel.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;C:\Users\Matus\Documents\Visual Studio 2010\Projects\WPFProxy\WPFProxy\SearchDatabase.db3&quot;'" providerName="System.Data.EntityClient" />
    <add name="DatabaseEntities" connectionString="metadata=res://*/Database.Database.csdl|res://*/Database.Database.ssdl|res://*/Database.Database.msl;provider=System.Data.SqlServerCe.4.0;provider connection string='Data Source=&quot;C:\Users\Matus\Documents\Visual Studio 2010\Projects\WPFProxy\WPFProxy\Database\Database.sdf&quot;'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
  
  <userSettings>
    <WPFProxy.Properties.Settings>
      <setting name="UseServer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ServerIP" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="LastSyncedWithServerCache" serializeAs="String">
        <value>1970-01-01</value>
      </setting>
      <setting name="DoNotCache" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CacheOnServer" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MaximumCacheSize" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="AppDataFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="DatabaseVersion" serializeAs="String">
        <value />
      </setting>
      <setting name="AppVersion" serializeAs="String">
        <value />
      </setting>
      <setting name="SearchDatabaseVersion" serializeAs="String">
        <value />
      </setting>
      <setting name="DoNotCacheHtml" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ClientName" serializeAs="String">
        <value />
      </setting>
      <setting name="DownloadEverythingThroughServer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RealTimePrefetching" serializeAs="String">
        <value>True</value>
      </setting>
    </WPFProxy.Properties.Settings>
  </userSettings>
</configuration>